  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@100;200;400;700&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Lobster&family=Poppins:wght@100;200;400;700&display=swap');

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: lato,sans-serif;
}
 .pagename{
    font-size:3.5vw;
  }
.navbar {
    background-color:white;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1vw;
}
  .navbar a {
    color:black;
    text-decoration: none;
    margin: 0 0.5vw;
    font-family: lato,sans-serif;
    font-weight:400;
    font-size:1.4vw ;
    padding: 1vw;
}
  .navbar .login-button {
    background-color:black;
    color:white;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: 500;
}
@media (max-width: 500px)  {
  .pagename{
    font-weight: 700;
     font-size: 4vw;
  }
  .navbar a{
    font-size: 3vw;
  }
  .navbar .login-button{
    font-size: 3vw;
  }
  .grid-container .grid-item{
   font-size: 2.2vw;
   padding: 2vw;
   font-weight: 700;
  }
 
}









.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1vw;

}
.grid-item {
  text-align: center;
  padding-top: 0.5vw;
  padding-bottom:0.5vw;
  letter-spacing:0.1vw;
  color:#323232;
  font-size:1.2vw;
  font-weight: 500;
}
.grid-container a{
  text-decoration: none;
}
.dark-pink-bg {
  background-color: #fddada; /* Dark Pink */
}

.light-pink-bg {
  background-color:#fcc0c0; /* Light Pink */
}
.grid-container-2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;

}
.image-container{
    width: 100%;
    max-height: 34vw; /* Adjust the height of the image container as needed */
   
}
.image-container img{
  width: 100%;
  height:34vw;
  object-fit: cover;
 }
 .photo-2{
  display: none;
}
/* Add any styling you want for the text container */
 .text-container {
  
  text-align: center;
  position: absolute;
  top:14%;
  left: 18%;
  padding-left: 2vw;
  }
  .text-line{
    color:white;
    text-shadow:.1vw .1vw #de2085;
    font-weight: 900;
    font-size: 5.5vw;
    line-height: 4.5vw;
  }
 .of{
  font-size:5vw; ;
  color: rgb(206, 10, 115);
  padding-left:0.5vw;
}

.upto-1{
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  font-size: 1.4vw;
  font-family: lato,sans-serif;
  font-weight: 600;
  color:white;
  padding: 0;
  text-shadow: 0.1vw 0.1vw black;
 
}

/* style for 60%off */
.upto-60-1{
  
  font-weight: 900;
  font-size:3.8vw;
  text-align: center;
  color:#323232 ;
  line-height: 10px;
  margin:1.5vw  0;
  text-shadow: 0.1vw 0.1vw white;
}



.shop-now-button-1{
  font-weight: 900;
  background-color: white;
  color:#323232;
  border: 0.2vw solid black;
  padding: 2% 6%;
  cursor: pointer;
  font-size:1.3vw;
  text-transform: uppercase;
 }
 
/* style-for all subtiltle */
.sub-title{
  height: 100%;
  padding:2vw;
  text-align: center;
  letter-spacing: 1px;
  font-family: lato,sans-serif;
  font-weight: 500;
  font-size: 2.2vw;
  color:#323232;
  text-transform: uppercase;
}

@media (max-width:500px){
   .photo-2{
    width: 100%;
    height:34vw;
    object-fit: cover;
   }
   .text-container {
    top:10%;
    left: 10%;
    padding-left: 2vw;
    }
  .photo-1{
    display: none;
  }
  .photo-2{
    display: inline;
  }
  .upto-1{
   font-size: 2vw;
   font-weight: 800;
   color:rgb(244, 32, 32);
   line-height:1.5vw;
   }
  .upto-60-1{
   font-size:5vw;
  }
  .shop-now-button-1{
   font-size:2vw;
   }
  .sub-title{
  font-size: 3vw; 
  font-weight: 700;
  }
}
/* ----------------- */
.upto{
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  font-size: 1vw;
  font-family: lato,sans-serif;
  font-weight: 600;
  color:white;
}
/* style for 60%off */
.upto-60{
  font-weight: 900;
  font-size:3vw;
  text-align: center;
  color:white ;
  line-height:1vw;
 }
.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:3vw;
  padding:0 1vw;
  height: 35vw;
  overflow: hidden;
}
.grid-container-3 img {
 width: 100%;
 height:35vw;
 object-fit:cover;
}
.image-1{
 position: relative;
 }
.image-2{
  position:relative;
}
.image-3{
  position: relative;
}
.text-bottom-center{
  text-align: center;
  font-size:2.5vw;
  font-family: lato,sans-serif;
  color: white;
  font-weight: 900;
  position:absolute;
  left:30%;
  top:80%;
  line-height: 2.6vw;
  text-transform:uppercase;
}
@media (max-width:500px){
  .upto{
   
    font-size: 1.7vw;
    font-weight: 900;
   
  }
  /* style for 60%off */
  .upto-60{
    font-weight: 900;
    font-size:3.7vw;
    text-align: center;
    color:white ;
    line-height:1vw;
   }
   .text-bottom-center{
    left:30%;
    top:70%;
    line-height: 2.6vw;
    font-size:3vw;
  }
}

.of-2{
  font-size: 2.2vw;
  font-family: lato,sans-serif;
  font-weight: 900;
}
.summer{
  display: grid;
  grid-template-columns: 1fr;
  height: 30vw;
  position: relative;
}
.summer-image{
   height:30vW;
   overflow: hidden;
}
.summer-image img{
  width:100%;
  object-fit: contain;
 
}
.summer-image-text-left{
  text-align: center;
  font-size: 3.5vw;
  line-height:2.5vw;
  font-family: lato,sans-serif;
  color:black;
  font-weight: 900;
  position: absolute;
  left:5%;
  top:3%;
}

.of-3{
  color: rgb(216, 5, 139);
  font-size:2.8vw ;
}
.season
{
  color: rgb(216, 5, 139);
}
.hot-hues{
  font-weight: 900;
  font-size: 3.1vw;
  text-transform: uppercase;
  color: black;
 }
 .upto-2{
  writing-mode:vertical-lr;
  transform: rotate(180deg);
  font-size: 1.4vw;
  margin-right:1vw ;
  font-family: lato,sans-serif;
  font-weight: 600;
  color: black;
 
}
 .summer-image-text-right{
  position: absolute;
  font-weight: 900;
  left:55%;
  top: 30%;
  text-align: center;
 
 }
 @media (max-width: 500px) {
  .summer-image-text-left{
   left:5%;
   top:10%;
  }
  .upto-2{
    font-size:1.8vw;
    color:black;
    }
 }
 
.new-image-text-right{
  position: absolute;
  font-weight: 900;
  font-size: 3.1vw;
  left:20%;
  top: 40%;
  text-transform: uppercase;
  color: black;
  text-align: center;
 }
.categories-container{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap:1vw;
  margin:2vw 1vw;
  /* padding-bottom: 2vw; */
  background-color:#fafcfd; 

  
 }

 .categories-item-text{
  font-size: 1vw;
  font-weight: 500;
 }
.categories-container-image img{
  width:100%;
  height:30vw;
 
  object-fit: cover;
}
.price{
  color: #de2085;
  font-size: 1.1vw;
  font-weight: 600;

}
@media (max-width: 500px) {
    .categories-container {
      grid-template-columns: repeat(3, 1fr);
      }
    .categories-container-image img{
      width: 100%;
      height: 65vw;
      object-fit: cover;
      object-position:top;
    }
  /* Hide the last image */
    .categories-container-image:nth-last-child(-n+2){
      display: none;
      }
      .categories-item-text{
        font-size: 2.5vw;
        }
       .price{
        font-size: 2vw;
       }
    }
.insta-container{
  background-color:#fafcfd; 
  height: 40vw;
  padding-top: 4vw;
  margin-left: 1vw;
 }
.insta-container-text-top{
  text-align: center;
  margin-bottom: 2vw;
  font-size: 2vw;
}
.insta-container-grid{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(2,14vw);
  gap: 2vw;
  padding:1vw ;
  background-color: aliceblue;
  height: 20vw;
}
.insta-container-grid  img{
  width: 100%;
  height:100%;
  object-fit: cover;
}
.insta-container-grid-item-1{
  grid-column: span 2;
  grid-row: span 2;
}
.linkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fde3dd;
  width:1fr;
  height:14vw;
  font-size:1.4vw ;
 font-weight: 700;
 
}
.linkbox a{
  text-decoration: none;
  color: #323232;
}

.insta-container-grid-item-2{
  position: relative;
  display: inline-block;
 }
 .insta-image-text{
  position: absolute;
  transform: translate(-50%, -50%);
  top:50%;
  left: 50%;
  width: 14.2vw;
  height: 14.2vw;
  background-color: #5e5a5a93;
  color: white;
  font-size:1vw;
  opacity: 0;
  transition: opacity 0.3s ease;
 }
 

.insta-container-grid-item-2:hover img {
  opacity: 0.9; /* Adjust the opacity level as needed */
}

.insta-container-grid-item-2:hover .insta-image-text {
  opacity: 1;
}
 @media (max-width: 500px) {
      .insta-container{
        background-color:#fafcfd; 
        height: 80vw;
        padding-top: 4vw;
        margin-left: 1vw;
       }
      .insta-container-grid {
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,30vw);
        gap:4vw;
      }
      .insta-container-grid img {
        width:100%;
        height: 30vw;
        object-position:top;
        object-fit:cover;
      }
      .insta-container-grid-item-1{
        grid-column: span 1;
        grid-row: span 1;
      }
      .insta-container-grid-item-6,
      .insta-container-grid-item-7,
      .insta-container-grid-item-8
       {
        display: none;
      }
      .insta-container-grid-item-9{
        height: 30vw;
        background-color:#fde3dd;
        display: grid;
        align-items: center;
        justify-content: center;
        
      }
      .insta-container-text-top{
        text-align: center;
        font-size:3vw;
        font-weight: 700;
      }
      .linkbox{
      font-size:2.5vw ;
      }
    }
.worthbuying-container{ 
  display:grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: repeat(1,25vw);
  gap:1.5vw;
  padding-left: 1vw;
 }
.worthbuying-container img{
  width:100%;
  height:100%;
  object-fit: cover ;
}
.worthbuying-container-item-1
{
  position: relative;
}
.worthbuying-container-item-2
{
  position: relative;
}
.worthbuying-container-item-3
{
  position: relative;
}
.worthbuying-container-item-4
{
  position: relative;
}
.worthbuying-container-item-5
{
  position: relative;
}
.worthbuying-container-text{
  position: absolute;
  top:80%;
  left:20%;
  color:white;
  font-weight: 900;
  font-size: 1.5vw;
  text-align: center;
  text-transform: uppercase;
}
.mrp
{
  font-weight: 900;
  font-size: 1.6vw;
  color:white;
  text-shadow: 0.1vw 0.1vw #750d60;
  text-align: center;
}
@media (max-width: 500px){
  .worthbuying-container{ 
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,45vw);
    gap:1.5vw;
    padding-left: 1vw;
   }
   .worthbuying-container-item-1:nth-last-child(-n+2){
    display: none;
    }
    .worthbuying-container img{
      width:100%;
      height:100%;
      object-fit: fill;
      object-position: top;
    }
    .worthbuying-container-text{
      font-size: 2.5vw;
    }
   .mrp
    {
      font-size: 2.5vw;
    }
}

.siddartha-fab-container{
  display: grid;
  grid-template-columns: 59%  38%;
  grid-template-rows: repeat(1,50vw);
  padding-top: 2vw;
  gap: 2vw;
  height:47vw;
  margin: 1vw;
 
}
.siddartha-fab-container-item-1 img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.siddartha-fab-container-text{
  text-align:left;
  padding:0 3vw;
  font-weight: 600;
  font-size: 1.3vw;
  line-height: 2.7vw;

}
.siddartha-fab-container-item-1{
  height:70%;
  position: relative;
}
.x{
  position: absolute;
  top:30%;
  left:50%;
  width:50%;
  font-size:2.5vw;
  color: white;
  text-align: center;
}
.siddhartha{
  font-size: 3vw;
  font-weight: 600;
  line-height:4vw ;
  width: 50%;
}
.line{
  width:12vw;
  height:.4vw;
  background-color: black;
  margin: 1.1vw 0 ;

}
.explore-lookbook{ 
    background-color:black;
    color:white;
    padding: 1.2vw 3vw;;
    border: none;
    border-radius:4vw;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.3vw;
    font-weight: 700;
    margin-top: 2vw;
  }
  @media (max-width: 500px){
    .siddartha-fab-container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat(2,1fr);
      height:80vw;
    }
    .siddartha-fab-container-item-1 img{
      width: 100%;
      height:40vw;
      object-fit:cover;
      object-position: top;
    }
    .siddartha-fab-container-text{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: 2.6vw;
     font-weight: 500;
     line-height: 3vw;
    }
   .siddhartha{
     font-size: 3.8vw;
     width: 100%;
     text-align: center;
    
    }
    .x{
      font-size: 3vw;
      color: #323232;
      font-weight: 700;
      
    }
   .line{
    width: 0;
    height: 0;
    }
    .explore-lookbook{ 
      
      font-size: 2vw;
      margin-top:3vw;
    }
  }
  .rimzim-party{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,30vw);
    gap: 2vw;
  
  }
  .rimzim-party img{
    width:100%;
    height: 100%;
    object-fit:cover;
   
   
  }
  .rimzim-party-1{
    position: relative;
  }
  .rimzim-party-2{
    position: relative;
   }
  .rimzim-party-text-1{
    position: absolute;
    left: 58%;
    top:20%;
    color:white;
    font-size:1.8vw;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5vw;
}
.rimzim-party-text-2{
  position: absolute;
  left: 55%;
  top:20%;
  font-style: italic;
  color:white;
  font-size:3.7vw;
  text-shadow: -0.15vw -0.15vw rgb(241, 47, 199);
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5vw;
}
@media (max-width: 500px){
  .rimzim-party-text-1{
    font-size:2.1vw;
  }

}
.inspotlight-container{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: repeat(1,18vw);
  gap:1vw;
  
}
.inspotlight-container img{
  width: 100%;
  height: 100%;
}
.inspotlight-container-1{
  position: relative;
 }
.inspotlight-container-2{
  position: relative;
  }
.inspotlight-container-3{
  position: relative;
  }
.inspotlight-container-4{
  position: relative;
 }
.inspotlight-container-5{
  position: relative;
  }
.inspotlight-container-6{
  position: relative;
 }
.inspotlight-container-text{
  position: absolute;
  top:70%;
  left:5%;
  color:#ffffff;
  text-shadow: 0.1vw 0.1vw #750d60;
  text-transform: uppercase;
  font-size: 1.2vw;
  font-weight: 700;
   width: 90%;
  text-align: center;
}
@media (max-width: 500px){
 

  .inspotlight-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,40vw);
    gap:1vw;
    } 
  .inspotlight-container img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position:top;
  }
  .inspotlight-container-text{
    font-size:2.5vw;
    top:70%;
   }
  }

.you-got-it-container{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-template-rows: repeat(1,30vw);
  margin-top: 2vw;
}
.you-got-it-1 img{
  width: 100%;
  height: 30vw;
  object-fit:cover;
}
.you-got-it-1{
  position: relative;
}
.you-got-it-text{
  position: absolute;
  left:36%;
  top:35%;
  color: black;
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

.shopxl{
  font-weight: 800;
  margin-top: 1vw;
  background-color: white;
  color:#323232;
  border:0.2vw solid black;
  padding: 2% 6%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1vw;
  text-transform: uppercase;
}
@media (max-width: 500px){
  .shopxl{
  font-size: 2vw;
  }
}

.trends-repeat{
  font-size: 1.1vw;
  font-weight:700;
  padding: 1vw 0;
  text-transform: none;
}

@media (max-width: 500px){
  .trends-repeat{
    font-size:3vw;
   }
}
.invest-in-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(1,35vw);
  gap:1vw;
  margin-bottom: 1vw;
  
}
.invest-in-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.invest-in-container-1{
  position: relative;
}
.invest-in-container-2{
  position: relative;
}
.invest-in-container-3{
  position: relative;
}
.invest-in-container-4{
  position: relative;
}
.invest-in-container-text{
  position: absolute;
  top:70%;
  left:20%;
  color: white;
  font-size: 2.4vw;
  font-weight: 900;
  text-transform: uppercase;
  width: 60%;
  text-align:center;
}
.shop-now-button-2{
  font-weight: 900;
  background-color: white;
  color:#323232;
  border: 0.2vw solid black;
  padding: 2% 4%;
  cursor: pointer;
  font-size:1vw;
  text-transform: uppercase;
 }
 @media (max-width: 500px){
  .invest-in-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,45vw);
    gap:1vw;
    margin-bottom: 3vw;
    
  }
  .invest-in-container-2{
    display: none;
    }
    .invest-in-container img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
    .invest-in-container-text{
      font-size: 2.8vw;
      text-align: center;
      top:65%;
      width: 50%;
    }
    .shop-now-button-2{
      font-size:1.8vw;
    }
}
footer {
  background-color:#fffdfd;
  padding:1vw 0;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  border-top: 0.1vw solid #d4cdcd;
  border-bottom:0.1vw solid #d4cdcd;
  margin: 2vw 2vw;
  justify-content: center;
}
.column:not(:last-child) {
  border-right:0.1vw solid #d4cdcd;
  margin: 2vw 0;
}
.column{
  margin: 1vw 0;
  text-align:left;
  padding-left: 2vw;
}
.service{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 0;
  padding-left: 10%;

 
}
.column-3{
  text-align: center;
}
.column-item-1{
  font-size: 1.3vw;
  font-weight: 900;
  margin:2vw 0 ;
}
.column-item-2{
  padding-left: 35%;
  font-size: 1.3vw;
  font-weight: 900;
  margin:2vw 0 ;
}
.column-item-3{
  
  font-size: 1.3vw;
  font-weight: 900;
  margin:2vw 0 ;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column li {
  padding: 5px 0;
}

.column a {
  text-decoration: none;
  color: black;
}
.column-item-sub{
  font-size: 1.2vw;
  line-height: 1vw;
  font-weight: 400;
}

.connect-us{
  text-transform: uppercase;
  font-size: 1.3vw;
  font-weight: 700;
  padding-bottom:1vw;
  padding-left: 2.7vw;

}
.icons img{
   width:3vw;
  height: 3vw;
  margin: 0.2vw;
}
#subscribe{
  display: block;
  text-transform: uppercase;
  background-color:black;
  color:white;
  font-size: 1vw;
  font-weight: 800;
  padding: 0.7vw;
  border-style: none;
 }
#emailinput{
  
  display: block;
  width:20vw;
 height: 2.7vw;

 }
.email-flex{
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap:1vw;
    margin-bottom: 2vw;
  }

#emailinput::placeholder{
  font-size: 1.2vw;
  font-weight: 700;
  text-align:left;
  padding-left: 1.5vw;
 }
 @media (max-width: 500px){
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2 1fr);
    height:auto;
  }
 
  .column-item-sub{
    font-size: 2.2vw;
    line-height: 1vw;
   
 }
 .service{
   padding-left: 0;
  }
  .icons img{
  width:4vw;
 height:4vw;
 
}
.column-item-1{
  font-size: 2.5vw;
  font-weight: 900;
  margin:2vw 0 ;
}
.column-item-2{
  padding-left: 35%;
  font-size: 2.5vw;
  font-weight: 900;
  margin:2vw 0 ;
}
.column-item-3{
  
  font-size: 2.5vw;
  font-weight: 900;
  margin:2vw 0 ;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connect-us{
 
  font-size: 2vw;
 

}

 }